<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
     
      <class name="com.learnautomation.testcases.ver_title" > 
      <methods>
        <include name="verify_title" />
       </methods>  
       </class> 
       <class name="com.learnautomation.testcases.verify_Registration" >
       <methods>
        <include name="Registration" />
        <include name="Login" />
        
       </methods> 
       </class>
        
       
    
       
    
     
      
  
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
